<!-- Navbar STart -->
<header
  id="topnav"
  class="defaultscroll sticky"
  (window:scroll)="windowScroll()"
  [class]="navClass"
  [ngClass]="{ 'tagline-height': sliderTopbar == true }"
>
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" routerLink="/index" *ngIf="navClass !== 'nav-light'">
        <img
          src="assets/images/logo-dark.png"
          class="l-dark logo-light-mode"
          height="24"
          alt=""
        />
        <img
          src="assets/images/logo-light.png"
          class="logo-dark-mode"
          height="24"
          alt=""
        />
      </a>

      <ul class="buy-button list-inline mb-0" *ngIf="buttonList == true">
        <li class="list-inline-item mb-0 ms-1">
          <a href="javascript:void(0)" class="btn btn-icon btn-primary"
            ><i class="uil uil-facebook-f icons"></i
          ></a>
        </li>
        <li class="list-inline-item mb-0 ms-1">
          <a href="javascript:void(0)" class="btn btn-icon btn-primary"
            ><i class="uil uil-instagram icons"></i
          ></a>
        </li>
        <li class="list-inline-item mb-0 ms-1">
          <a href="javascript:void(0)" class="btn btn-icon btn-primary"
            ><i class="uil uil-youtube icons"></i
          ></a>
        </li>
      </ul>

      <a class="logo" routerLink="/index" *ngIf="navClass === 'nav-light'">
        <img
          src="assets/images/logo-dark.png"
          class="l-dark"
          height="24"
          alt=""
        />
        <img
          src="assets/images/logo-light.png"
          class="l-light"
          height="24"
          alt=""
        />
      </a>

      <div class="menu-extras">
        <div class="menu-item">
          <!-- Mobile menu toggle-->
          <a
            class="navbar-toggle"
            id="isToggle"
            (click)="toggleMenu()"
            [ngClass]="{ open: isCondensed === true }"
          >
            <div class="lines">
              <span></span>
              <span></span>
              <span></span>
            </div>
          </a>
          <!-- End mobile menu toggle-->
        </div>
      </div>
    </div>

    <div id="navigation">
      <!-- Navigation Menu-->
      <ul class="navigation-menu" [class]="navClass">
        <li><a routerLink="/" class="nav-link-ref">Home</a></li>
        <li>
          <a routerLink="/plan-pedagogico" class="nav-link-ref"
            >Plan Pedagógico</a
          >
        </li>
        <!-- <li><a routerLink="/blog" class="nav-link-ref">Blog</a></li> -->
        <li><a routerLink="/contact" class="nav-link-ref">Contacto</a></li>
      </ul>
      <!--end navigation menu-->
    </div>
    <!--end navigation-->
  </div>
  <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->
