<!-- Navbar STart -->
<header
  id="topnav"
  class="defaultscroll sticky"
  (window:scroll)="windowScroll()"
  [class]="navClass"
  [ngClass]="{ 'tagline-height': sliderTopbar == true }"
>
  <div class="container">
    <!-- Logo container-->
    <div>
      <a class="logo" routerLink="/index" *ngIf="navClass !== 'nav-light'">
        <img
          src="assets/images/logo-dark.png"
          class="l-dark logo-light-mode"
          height="24"
          alt=""
        />
        <img
          src="assets/images/logo-light.png"
          class="logo-dark-mode"
          height="24"
          alt=""
        />
      </a>

      <ul class="buy-button list-inline mb-0" *ngIf="buttonList == true">
        <li class="list-inline-item mb-0 ms-1">
          <a
            target="_blank"
            href="https://www.facebook.com/institutomodeloproyecto2000"
            class="btn btn-icon btn-primary"
            ><i class="uil uil-facebook-f icons"></i
          ></a>
        </li>
        <li class="list-inline-item mb-0 ms-1">
          <a
            target="_blank"
            href="https://www.instagram.com/institutomodeloproyecto2000/"
            class="btn btn-icon btn-primary"
            ><i class="uil uil-instagram icons"></i
          ></a>
        </li>
        <li class="list-inline-item mb-0 ms-1">
          <a
            target="_blank"
            href="https://www.youtube.com/channel/UCO9fKhJsz6-K5dbbwGZIc6A?view_as=subscriber"
            class="btn btn-icon btn-primary"
            ><i class="uil uil-youtube icons"></i
          ></a>
        </li>
        <li class="list-inline-item mb-0 ms-1">
          <a
            href="whatsapp://send?text=Tu mensaje&phone=+541125240916"
            class="btn btn-icon btn-primary"
            ><i class="uil uil-whatsapp icons"></i
          ></a>
        </li>
      </ul>

      <a class="logo" routerLink="/index" *ngIf="navClass === 'nav-light'">
        <img
          src="assets/images/logo-dark.png"
          class="l-dark"
          height="24"
          alt=""
        />
        <img
          src="assets/images/logo-light.png"
          class="l-light"
          height="24"
          alt=""
        />
      </a>
    </div>

   <!--  <div id="navigation">
      <ul class="navigation-menu" [class]="navClass">
        <li><a routerLink="/" class="nav-link-ref">Home</a></li>
        <li>
          <a routerLink="/plan-pedagogico" class="nav-link-ref"
            >Plan Pedagógico</a
          >
        </li>
        <li><a routerLink="/contact" class="nav-link-ref">Contacto</a></li>
      </ul>
    </div> -->
    <!--end navigation-->
  </div>
  <!--end container-->
</header>
<!--end header-->
<!-- Navbar End -->
