<!-- Hero End -->
<swiper
  [config]="config"
  class="swiper-slider-hero position-relative d-block vh-100"
  id="home"
>
  <div *ngFor="let item of carousel" class="swiper-slide d-flex align-items-center overflow-hidden">
    <div
      
      class="slide-inner slide-bg-image d-flex align-items-center"
      style="background: center center no-repeat; background-size: cover"
      [ngStyle]="carouselBg(item.image)"
    >
      <div class="bg-overlay"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12">
            <div class="title-heading text-center">
              <h1
                [innerText]="item.title"
                class="heading text-white title-dark mb-4"
              ></h1>
              <p
                [innerText]="item.content"
                class="para-desc mx-auto text-white"
              ></p>

              <div *ngIf="item.linkLabel" class="mt-4 pt-2">
                <a [href]="item.linkUrl" class="btn btn-primary">{{
                  item.linkLabel
                }}</a>
              </div>
            </div>
          </div>
          <!--end col-->
        </div>
        <!--end row-->
      </div>
      <!--end container-->
    </div>
    <!-- end slide-inner -->
  </div>
  <!-- end swiper-slide -->

  <div class="swiper-button-next border rounded-circle text-center"></div>
  <div class="swiper-button-prev border rounded-circle text-center"></div>
</swiper>
<section class="section bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="features-absolute">
          <div class="row">
            <div class="col-lg-3 col-md-6 col-12">
              <div
                class="card features feature-clean explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center"
              >
                <div class="icons text-primary text-center mx-auto">
                  <i class="uil uil-airplay d-block rounded h3 mb-0"></i>
                </div>

                <div class="card-body p-0 content">
                  <h5 class="mt-4">
                    <a href="javascript:void(0)" class="title text-dark"
                      >Best Financial Advice</a
                    >
                  </h5>
                  <p class="text-muted">
                    The most well-known which is said to have originated
                  </p>

                  <a href="javascript:void(0)" class="text-primary"
                    >Read More <i class="uil uil-angle-right-b align-middle"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-md-0 pt-2 pt-md-0">
              <div
                class="card features feature-clean explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center"
              >
                <div class="icons text-primary text-center mx-auto">
                  <i class="uil uil-clipboard-alt d-block rounded h3 mb-0"></i>
                </div>

                <div class="card-body p-0 content">
                  <h5 class="mt-4">
                    <a href="javascript:void(0)" class="title text-dark"
                      >Authorised Finance Brand</a
                    >
                  </h5>
                  <p class="text-muted">
                    The most well-known which is said to have originated
                  </p>

                  <a href="javascript:void(0)" class="text-primary"
                    >Read More <i class="uil uil-angle-right-b align-middle"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
              <div
                class="card features feature-clean explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center"
              >
                <div class="icons text-primary text-center mx-auto">
                  <i
                    class="uil uil-credit-card-search d-block rounded h3 mb-0"
                  ></i>
                </div>

                <div class="card-body p-0 content">
                  <h5 class="mt-4">
                    <a href="javascript:void(0)" class="title text-dark"
                      >Compehensive Advices</a
                    >
                  </h5>
                  <p class="text-muted">
                    The most well-known which is said to have originated
                  </p>

                  <a href="javascript:void(0)" class="text-primary"
                    >Read More <i class="uil uil-angle-right-b align-middle"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->

            <div class="col-lg-3 col-md-6 col-12 mt-4 mt-lg-0 pt-2 pt-lg-0">
              <div
                class="card features feature-clean explore-feature p-4 px-md-3 border-0 rounded-md shadow text-center"
              >
                <div class="icons text-primary text-center mx-auto">
                  <i class="uil uil-ruler-combined d-block rounded h3 mb-0"></i>
                </div>

                <div class="card-body p-0 content">
                  <h5 class="mt-4">
                    <a href="javascript:void(0)" class="title text-dark"
                      >Best Tax Advantages</a
                    >
                  </h5>
                  <p class="text-muted">
                    The most well-known which is said to have originated
                  </p>

                  <a href="javascript:void(0)" class="text-primary"
                    >Read More <i class="uil uil-angle-right-b align-middle"></i
                  ></a>
                </div>
              </div>
            </div>
            <!--end col-->
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
  </div>
  <!--end container-->

  <div class="container mt-100 mt-60">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-5 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="position-relative">
          <img
            src="assets/images/company/about2.png"
            class="img-fluid mx-auto"
            alt=""
          />
          <div class="play-icon">
            <a
              (click)="openModal(contentmodal)"
              href="javascript:void(0);"
              class="play-btn video-play-icon"
            >
              <i
                class="mdi mdi-play text-primary rounded-circle bg-white shadow"
              ></i>
            </a>
            <ng-template #contentmodal let-modal>
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <youtube-player
                  [videoId]="'yba7hPeTSjk'"
                  height="450"
                  width="780"
                >
                </youtube-player>
              </div>
            </ng-template>
          </div>
        </div>
      </div>
      <!--end col-->

      <div class="col-lg-7 col-md-7 mt-4 pt-2 mt-sm-0 pt-sm-0">
        <div class="section-title ms-lg-4">
          <h4 class="title mb-4">
            We are the largest <br />
            Business expert
          </h4>
          <p class="text-muted">
            Start working with
            <span class="text-primary fw-bold">Landrick</span> that can provide
            everything you need to generate awareness, drive traffic, connect.
            Dummy text is text that is used in the publishing industry or by web
            designers to occupy the space which will later be filled with 'real'
            content. This is required when, for example, the final text is not
            yet available. Dummy texts have been in use by typesetters since the
            16th century.
          </p>
          <a href="javascript:void(0)" class="btn btn-primary mt-3"
            >Buy Now <i class="mdi mdi-chevron-right"></i
          ></a>
        </div>
      </div>
      <!--end col-->
    </div>
    <!--end row-->
  </div>
  <!--end container-->
</section>
<!-- End -->

<!-- Features Start -->
<div class="container mt-100 mt-60">
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div class="section-title mb-4 pb-2">
        <h4 class="title mb-4">Payments Great Features</h4>
        <p class="text-muted para-desc mb-0 mx-auto">
          Start working with
          <span class="text-primary fw-bold">Landrick</span> that can provide
          everything you need to generate awareness, drive traffic, connect.
        </p>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->

  <div class="row">
    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="card bg-light rounded shadow border-0">
        <div class="card-body py-5">
          <i class="uil uil-rupee-sign h1 text-primary"></i>
          <div class="mt-2">
            <h5 class="card-title">
              <a href="javascript:void(0)" class="text-primary"> Low Fees</a>
            </h5>
            <p class="text-muted mt-3 mb-0">
              If the distribution of letters and 'words' is random, the reader
              will not be distracted.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="card bg-light rounded shadow border-0">
        <div class="card-body py-5">
          <i class="uil uil-shield h1 text-primary"></i>
          <div class="mt-2">
            <h5 class="card-title">
              <a href="javascript:void(0)" class="text-primary">
                Safe & Secure</a
              >
            </h5>
            <p class="text-muted mt-3 mb-0">
              For this reason, dummy text usually consists of a more or less
              random series of words.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="card bg-light rounded shadow border-0">
        <div class="card-body py-5">
          <i class="uil uil-headphones h1 text-primary"></i>
          <div class="mt-2">
            <h5 class="card-title">
              <a href="javascript:void(0)" class="text-primary">
                Amazing Support</a
              >
            </h5>
            <p class="text-muted mt-3 mb-0">
              This prevents repetitive patterns from impairing the overall
              visual impression.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->

    <div class="col-lg-3 col-md-6 col-12 mt-4 pt-2">
      <div class="card bg-light rounded shadow border-0">
        <div class="card-body py-5">
          <i class="uil uil-exchange h1 text-primary"></i>
          <div class="mt-2">
            <h5 class="card-title">
              <a href="javascript:void(0)" class="text-primary">
                Convenient & Easy</a
              >
            </h5>
            <p class="text-muted mt-3 mb-0">
              It is advantageous when the dummy text is relatively realistic so
              that the layout.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--end col-->
  </div>
  <!--end row-->
</div>
<!--end container-->
<!-- Features End -->

<contact></contact>

<!-- <section class="section">
  <div class="container mt-100 mt-60">
    <div class="row align-items-center mb-4 pb-2">
      <div class="col-lg-6">
        <div class="section-title text-center text-lg-start">
          <h6 class="text-primary">Blog</h6>
          <h4 class="title mb-4 mb-lg-0">
            Reads Our Latest <br />
            News & Blog
          </h4>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="section-title text-center text-lg-start">
          <p class="text-muted mb-0 mx-auto para-desc">
            Start working with
            <span class="text-primary fw-bold">Landrick</span> that can provide
            everything you need to generate awareness, drive traffic, connect.
          </p>
        </div>
      </div>
    </div>

    <app-blog [blogData]="blogData"></app-blog>
  </div>
</section> -->

<!-- Back to top -->
<a
  href="javascript: void(0);"
  class="btn btn-icon btn-primary back-to-top"
  id="back-to-top"
  [ngxScrollTo]="'#home'"
>
  <i-feather name="arrow-up" class="icons"></i-feather>
</a>
<!-- Back to top -->
